.book-card {
  padding: 3px;
  background-color: white;
  box-shadow: 0px 0px 10px lightgrey;
  width: 17rem;
  display: grid;
}

.book-card:hover .book-card-info {
  color: gray;
}

.book-card-image {
  float: left;
  width: 6rem;
  height: 10rem;
  padding-right: 8px;
}

.book-card-info {
  color: #303030;
}

.book-card-title {
  font-size: 1.2rem;
}

.book-card-author,
.book-card-date {
  font-size: 1rem;
}

a:link {
  text-decoration: none;
}
