.book-card {
  display: flex;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  background-color: rgb(244, 244, 228);
  box-shadow: 5px 5px 2px lightgrey;
  justify-content: center;
  width: 12rem;
  min-height: 18rem;
}

.book-card:hover .book-card-info {
  color: gray;
}

.book-card-image {
  max-height: 15rem;
}

.book-card-info {
  color: #303030;
}

a:link {
  text-decoration: none;
}
