.navbar {
  background-color: white;
  color: slateblue;
  padding-top: 20px;
  padding-bottom: 20px;
  /* position: fixed; */
  border-radius: 0px;
  top: 0;
  width: 100%;
  max-width: 100vw;
  margin-top: 0px;
  /* border-bottom-style: solid;
  border-bottom-width: 1px; */
}

.navbrand {
  text-decoration: none;
  color: inherit;
  margin-left: 2px;
  font-size: min(4vh, 45px);
  padding-left: 10px;
}

.navbrand:hover {
  color: lightblue;
}

.navtabs {
  float: right;
  padding-right: 10px;
}

/* For phones */
@media screen and (max-width: 500px) {
  .navbrand {
    font-size: 6vw;
  }
}
