.navlink {
  text-decoration: none;
  border-bottom: solid 1px transparent;
  display: inline-block;
  margin-right: 3px;
  padding: 5px;
  color: inherit;
  font-weight: inherit;
}

.navlink:hover {
  color: darkgray;
}

/* For phones */
@media screen and (max-width: 500px) {
  .navlink {
    font-size: 18px;
  }
}
