body {
  font-family: "Verdana";
  font-weight: normal;
  font-size: min(30px, 2.3vh);
  color: #303030;
  background-color: #fff;
  margin: 0 auto;
}

.link,
.markdown a {
  color: slateblue;
}

.link:hover,
.markdown a:hover {
  color: lightblue;
}

.page-title {
  font-size: 3.5vh;
}

h1 {
  font-weight: normal;
  font-size: min(3.5vh, 40px);
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
}

h2 {
  font-weight: normal;
  font-size: min(3.5vh, 40px);
  margin-bottom: 10px;
  margin-top: 10px;
}

h3 {
  font-size: min(3vh, 35px);
  font-weight: normal;
  /* text-decoration: underline; */
  margin-bottom: 10px;
  margin-top: 10px;
}

h4 {
  font-size: min(2.3vh, 30px);
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 10px;
}
